APP_ENV=test
DATABASE_URL=postgresql+asyncpg://root:root@fastapi_base_db/fastapi_base_test
REDIS_URL=redis://redis/2
RABBIT_URL=pyamqp://guest:guest@rabbitmq:5672/vhost
RABBIT_DEFAULT_EXCHANGE=amq.topic
USERNAME_DOCS=local
PASSWORD_DOCS=local
PREFIX_URL_PATH=''
PAYPAL_CLIENT_ID="3WAX7sd2qOiojmi3ijDhgOdOnVYkLJLF2wiYgO83Sj9HC025H7WS2"
PAYPAL_CLIENT_SECRET="lcnXHJkJphcKixQiUQpV-SR1HWnr35fRaylP6X6h4_av6F8i"
PAYPAL_API_URL="https://api-m.sandbox.paypal.com"
VINDI_API_KEY=your_api_key_here
IUGU_API_KEY=your_iugu_api_key_here