APP_ENV=development
DATABASE_URL=postgresql+asyncpg://root:root@fastapi_base_db/fastapi_base_development
REDIS_URL=redis://redis/2
RABBIT_URL=pyamqp://guest:guest@rabbitmq:5672//
RABBIT_DEFAULT_EXCHANGE=amq.topic
API_KEY=0lfduNIvrbqM8Q_oTIi7pPazwfI7mtEG8ucfwxD
USERNAME_DOCS=local
PASSWORD_DOCS=local
PREFIX_URL_PATH=''