APP_ENV=test
DATABASE_URL=postgresql+asyncpg://root:root@fastapi_base_db/fastapi_base_test
REDIS_URL=redis://redis/2
RABBIT_URL=pyamqp://guest:guest@rabbitmq:5672//
RABBIT_DEFAULT_EXCHANGE=amq.topic
USERNAME_DOCS=local
PASSWORD_DOCS=local
PREFIX_URL_PATH=''