
aiofiles==23.2.1  # Biblioteca assíncrona para manipulação de arquivos (leitura/escrita não bloqueante)
fastapi==0.104.1  # Framework moderno para criação de APIs rápidas e de alto desempenho
pydantic==1.10.7  # Biblioteca para validação de dados e criação de modelos no FastAPI
uvicorn[standard]==0.27.0  # Servidor ASGI rápido para rodar aplicações FastAPI

responses==0.24.1  # Mock de respostas HTTP, usado para testar APIs sem realizar requisições reais
httpx==0.25.2  # Cliente HTTP assíncrono usado para fazer requisições HTTP em código assíncrono
python-magic==0.4.27  # Identifica o tipo de arquivo com base no conteúdo (detecta MIME types)

mock==5.1.0  # Biblioteca para criar mocks em testes, simulando comportamento de objetos
coverage==7.3.2  # Ferramenta para medir a cobertura de testes no código
pytest==7.4.3  # Framework de testes em Python, usado para escrever e rodar testes
pytest-cov==4.1.0  # Plugin do pytest para medir a cobertura de código durante os testes
pytest-httpx==0.27.0  # Plugin do pytest para mockar requisições HTTP feitas com httpx
pytest-asyncio==0.21.1  # Plugin do pytest que adiciona suporte a testes assíncronos

asyncpg==0.29.0  # Biblioteca assíncrona para acessar bancos de dados PostgreSQL
alembic==1.8.0  # Ferramenta de migração de banco de dados, usada com SQLAlchemy para versionar o esquema do banco
SQLAlchemy==2.0.23  # ORM poderoso para mapeamento objeto-relacional e interações com banco de dados
sqlmodel==0.0.12  # Combina SQLAlchemy e Pydantic para facilitar a criação de modelos e interações com o banco
psycopg2-binary==2.9.9  # Driver PostgreSQL usado para acessar o banco de dados de maneira síncrona

structlog==23.2.0  # Biblioteca de logging estruturado que facilita a criação de logs formatados (ex: JSON)

celery==5.3.6  # Framework para processamento de tarefas assíncronas distribuídas
celery[redis]==5.3.6  # Adiciona suporte ao uso do Redis como broker de mensagens e backend para resultados do Celery
# celery[librabbitmq]==5.3.6  # (Comentado) Suporte ao uso de RabbitMQ como broker de mensagens no Celerypip install paypal-payouts-sdk
paypal-payouts-sdk==1.0.0  # SDK oficial da PayPal para pagamentos em massa
paypal-server-sdk==0.5.1
paypal-checkout-serversdk==1.0.3
